{% load crispy_forms_tags %}

{% if tag.appliance %}
<div>
    <div class="navbar-header" style="padding-top: 1em; padding-bottom: 0.5em">
        Submit Energy Reading
    </div>
    <ul class="nav nav-tabs nav-tabs-right">
    </ul>
</div>

<div class="col-lg-12 container featured service-box" style="margin-bottom: 20px; padding: 25px;">
    <div class="text-center">
        <p class="section-heading" style="font-size: 1.5em">Submit Energy Reading</p>
    		<hr class="light"/>
        <!--{% if community_avgenergy > 0 %}-->
            <!--<p style="font-size: 1.5em">-->
                <!--<i class="fa fa-users"></i> {{ community_avgenergy }} kWh / day-->
            <!--</p>-->
        <!--{% endif %}-->
        <!--{% if user_avgenergy == -1 %}-->
            <!--<p>Are you part of DecarboNet Energy Trial? Log in and visit your profile to learn more about your own-->
                <!--consumption.</p>-->
        <!--{% elif user_avgenergy == -2 %}-->
            <!--<p>We couldn't find any data.</p>-->
        <!--{% else %}-->
            <!--<p style="font-size: 1.5em">-->
                <!--<i class="fa fa-user"></i> {{ user_avgenergy }} kWh / day-->
            <!--</p>-->

            <!--<p class="text-faded">Your daily average consumption compared to the community.</p>-->
        <!--{% endif %}-->


        {% if user.is_authenticated %}

        <form action="/c/" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit Consumption" class="btn btn-success">
            </form>

        {% else %}
            <p>You need to be logged in for submitting your own readings.</p>
        {% endif %}

    </div>
</div>
{% endif %}